*{
    font-family: Arial;
    padding: 3px;
    margin: 10px;
   
   }
   body{
       
       background-color:aliceblue;
       margin:0;
   
   }
   
   #overlay{
       width:100%;
       height: 100%;
       position: fixed;
       background-color: dimgrey;
       
   }
   form{
       max-width: 550px;
       width: 90%;
       background:rgb(77 63 131 / 28%);;
       margin: 17vh auto 0 auto ;
       padding: 40px;
       border-radius: border-box;

   }
   h1{
    margin: 0;
    text-align: center;
   }

   lable{
    display:block;
    margin: 20px;
}

input,textarea{
    width: 93%;
    padding: 3%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 1px solid whitesmoke;
}

input[type="text"]:focus, textarea:focus{
    border-bottom: 1px solid greenyellow;
}

textarea::-webkit-scrollbar-thumb{
    width: 4px;
}
  
textarea::-webkit-scrollbar-thumb{
    background-color: aliceblue;
}

.center{
    text-align: center;
}

input[type="submit"]{
    margin-top: 20%;
    width: 90%;
    max-width: 200px;
    background: linear-gradient(to right , red),pink;
    color: rgb(54 59 53);
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
}

.error{
    color: rgb(225, 21, 21);
    padding: 185px;
}
.error-border{
    border-bottom: 1px solid pink;
}

#success{
    color: cadetblue;
}
